.rulesModalBackground {
    display: flex;
    width: 400px;
    height: 550px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e9fde6;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    left: 160px;
    z-index: 100;
}

.rulesModalHeading {
    color: black;
    margin-bottom: 0;
}

.rulesModalText {
    margin: 0;
    color: black;
    white-space: pre-wrap;
    text-align: start;
    height: 80%;
}

.rulesModalClose {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}