.vertParent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	min-width: 100vw;
	min-height: 100vh;
}

.authBtn {
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	background-color: purple;
	width: 200px;
	height: 40px;
}
